*{
    margin: 0;
    padding: 0;
    
}

.logo{
    padding-top:  5px; ;
}

.nav1{
    position: sticky;
    top: 0;
    background-color: white;
}

.nav td{
    font-size: 20px;
}

.right{
    padding-right: 5px;
    
}

hr{
    border: 3px;
    color: black;
    background-color: black;
}

#jumbo{
    margin: 0;
    margin-top: 10px;
    font-weight: lighter;
    font-size: 50px;
    padding-left:30px;
    letter-spacing: 1px;
    

}

.jumbotron{
    background-color: rgb(226, 231, 235);
    
}

#jumbodiv1{
    margin-top: 10px;
}

#secjumbo{
    padding-left: 30px;
    font-size: 20px;
    line-height: 25px;
    
    
}

#jumbutton{
    margin-top: 20px;
    border-collapse: separate;
    margin-left: 30px;
    margin-bottom: 9px;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-color: inherit;
    background-color: rgb(54, 105, 247);
}

#jumimg{
    padding: 10px;
    
}

#checkbg{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-image: url("https://1.cms.s81c.com/sites/default/files/2022-04-26/2022031-ls-data-driven-mobile-720x360%20%283%29_0.png");
}


.div1{
    margin: 0;
    background-color: black;

}

#div1{
    margin-left: 30px;
    color: aliceblue;
    font-size: 30px;
    padding-top:20px ;
    padding-bottom: 20px;
}

#div1button{
    margin-top: 20px;
    border-collapse: separate;
    margin-right: 30px;
    font-size: 20px;
    padding: 10px;
    transition: 2;
    
    color: white;
    border-color: black;
    background-color: rgb(54, 105, 247);
}

#div1button:hover{
    
    transform: scale(1.1,1.1);
}



.div2{
    margin: 0;
    padding: 20px;
    
}

.div2div1 {
    margin-top: 0;
}

.div2div2 p{
    top: 0;
    margin: 0;
    padding: 0%;

    
}

.inside{
    margin: 0;
    top: 0;
}

.card a{
    background-color: aliceblue;
    text-decoration: none;
}

.card{
    background-color: aliceblue;

}

.checkp{
    font-size: 17px;
    margin-left: 13px;
    text-decoration: none;
    color: black;
}

.checkp1{
    font-size: 17px;
    margin-left: 13px;
    text-decoration: none;
    color: rgb(73, 126, 241);
    font-weight: 200;
    letter-spacing: 0.5px;
}

.hovercheck:hover{
    transition-duration: 2s;
    transform: scale(1.1,1.1);
}

